:root {
  font-size: 13px;

  background-color: rgb(51, 45, 45);

  --img-border-color: rgb(60, 60, 60);
  --btn-color: rgb(105, 105, 105);
}

.slider-container {
  width: 40vw;
  height: 40vw;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
}
.slide {
  width: 100%;
  height: 100%;
}
.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border: 1px solid var(--img-border-color);
  border-radius: 2rem;
  box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.5);
}

.btn {
  width: 10%;
  height: 100%;
  padding: 0;
  border: 0;
  color: white;
  background-color: transparent;

  font-size: 2.5rem;
  font-family: monospace;
  cursor: pointer;

  position: absolute;
  right: 0;
}
.btn:first-child {
  left: 0;
}

.btn:hover {
  transform: scale(1.2);
}

.nav-indicator-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
}

.nav-indicator {
  --elem-size: 0.5rem;

  width: var(--elem-size);
  height: var(--elem-size);

  border-radius: 50%;
  border: 0.3px solid white;
}

.nav-indicator + .nav-indicator {
  margin-left: 1rem;
}

.active-nav-indicator {
  background-color: white;
}
